# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea

*.iml

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
将删除 AMQPLearn/amqpStudy.iml
将删除 AMQPLearn/target/generated-sources/
将删除 AMQPLearn/target/maven-status/
将删除 AnnotationAndReflect/AnnotationAndReflect.iml
将删除 AnnotationAndReflect/target/generated-sources/
将删除 AnnotationAndReflect/target/maven-status/
将删除 DataStruct/datastruct.iml
将删除 DataStruct/target/generated-sources/
将删除 DataStruct/target/maven-status/
将删除 Java8Learn/Java8Learn.iml
将删除 Java8Learn/target/generated-sources/
将删除 Java8Learn/target/maven-status/
将删除 JvmLearn/JvmLearn.iml
将删除 javastudy.iml
将删除 nettyStudy/nettyStudy.iml
将删除 nettyStudy/target/classes/testFile/
将删除 nettyStudy/target/generated-sources/
将删除 nettyStudy/target/maven-status/
将删除 sominterestingtest/sominterestingtest.iml
将删除 threadLearn/target/generated-sources/
将删除 threadLearn/target/maven-status/
将删除 threadLearn/threadLearn.iml
